DB_NAME=puzzles
DB_USER=puzzles_admin
DB_PASSWORD=your_secure_password_here🔐

PUZZLE_DB_URL=jdbc:postgresql://puzzles_db:5432/${DB_NAME}
PUZZLE_DB_USERNAME=${DB_USER}
PUZZLE_DB_PASSWORD=${DB_PASSWORD}

PUZZLE_CLOUDINARY_NAME=your_cloudinary_name🔐
PUZZLE_CLOUDINARY_KEY=your_api_key🔐
PUZZLE_CLOUDINARY_SECRET=your_api_secret🔐